*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
   
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    width: 100%;
}

.title{
    text-align: center;
    padding: 3rem 0;
    padding-bottom: 3rem;
    font-size: 1.8rem;
    color: black;
    margin: 0 0 4rem 0;
}

.title span{
    background: green;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}

#menu-btn{
    display: none;
}

/* Header section */
#header{
    width: 100%;
    display: flex;
}

#header .leftHome{
    width: 50%;
    float: left;
    margin: 1rem 2rem;
    height: 30px;
}

#header .leftHome a{
    font-size: 1.5rem;   
}

#header .rightHome{
    width: 50%;
    float: right;
}

#header .rightHome .icons{
    margin: 1rem 2rem;
}

#header .rightHome .icons a{
    list-style-type: none;
    float:right; 
}


/* Home section  */
#home{
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    position:sticky;
    background-color: #fff;
}

#home .nav-bar{
    display: flex;
    list-style: none;
    float: left;
    width: 100%;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.2), 0 -3px 20px 0 rgba(0, 0, 0, 0.13);
    position: sticky;
}

#home .nav-bar li{
    padding: 1.2rem;
    
}
#home .nav-bar li a{
    list-style-type: none;
    font-size: 1.2rem;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

#home .nav-bar li a:hover{
    color: green;
}

/*  Banner section  */
#banner{
    
    background-image: url("./image/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 70vh;
    margin-top: 3.80rem;
    opacity: 0.9;
    
}

#banner .content{
    text-align: center;

    line-height: 2rem;
    margin-right: -33rem;
}

#banner .content p{
    color: aliceblue;
    font-size: 50px;
    padding: 10rem 0 0 0;
}

#banner .content h1{
    font-size: 25px;
    color: #fff;
    padding: 1rem 0 0 0 ;
}

#banner .content .btn{
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    background-color: green;
    color: #fff;
    border-radius: 10px;
}

#banner .content .btn:hover{
    background-color: #fff;
    color: green;

}

/* search form */
#header .search-form{
    position: absolute;
    top: 12.5%; right:-26%; 
    width: 20rem;
    height: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.2), 0 -3px 20px 0 rgba(0, 0, 0, 0.13);
}

#header .search-form.active{
    right: 1rem;
    transition: .4s linear;
} 

#header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1rem;
    color: black;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    
}

#header .search-form label{
    font-size: 25px;
    padding: 1rem;
    color: grey;
    cursor: pointer;
}

#header .search-form label:hover{
    color: green;
}

/* features section */

#feature, #product .container{
    background-color: rgba(0,0,0,.1);
    padding-bottom: 4rem;
}
#feature .box-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin-left: 5rem;
    
}

#feature .box-container .box{
    padding: 2rem 2rem;
    background: #fff;
    line-height: 2rem;
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    outline: 1px solid rgb(198, 196, 196);
    outline-offset: -1rem;
}

#feature .box-container .box:hover{
    outline: 2px solid black;
    outline-offset: 0rem;
}
 
#feature .box-container .box img{
    width: 170px;
    height: 170px;
}
.btn{
    border: 1.5px solid green;
    background: none;
    color: black;
    padding: 0.5rem;
}

.btn:hover{
    background-color: green;
    color: #fff;
}

/* Products section */

#product .box-product{
    color:black;
    width: 100%;
}

#product .box-product .row-1, .row-2{
    display: flex;
    gap: 2.5rem;
    margin-left: 1.3rem;
}

#product .box-product .box{
    border-radius: .5rem;
    text-align: center;
    padding: 2.2rem 2rem;
    outline-offset: -1rem;
    outline :1px solid grey;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    transition: .2s linear;
    line-height: 20px;
    background-color: #fff;

}

#product .box-product .box:hover{
    outline-offset: 0;
    outline :1px solid grey;
}

#product .box-product .box .head-icon{
    text-align: left;
    margin-top: -1rem;
}

#product .box-product .box .head-icon i{
    padding: 0.5rem;
    font-size: 20px;
    color: rgba(0,0,0,.1);
}

#product .box-product .box .head-icon i:hover{
    color: black;
    font-size: 22px;
}

#product .box-product .box h4{  
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

#product .box-product .box h6{
    font-size: 1rem;
}


/* Customer review section  */

#review .box-review {
    display: flex;
    text-align: center;
    margin: 6rem 0 8rem 0;
}

#review .box-review .box:hover{
    outline: 1px solid grey;
    outline: 0rem;
}

#review .box-review .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

#review .box-review .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: rgb(186, 182, 182);
    font-size: 1rem;
}

#review .box-review .box h3{
    padding-bottom: .5rem;
    color: black;
    font-size: 1.5rem;
}


/* Contact section */

#contact form{
    text-align: center;
    margin: 0 0 2rem 0;
}

#contact .title p{
    font-size: 15px;
    color: gray;
    margin: 1rem 0 0 0;
}

#contact form input{
    border: 1px solid grey;
    width: 30%;
    font-size: 14px;
    padding: 0.5rem;
    margin: 0.5rem;
}

#contact form textarea{
    border: 1px solid grey;
    width: 30%;
    font-size: 14px;
    padding: 0.5rem;
    margin: 0.5rem;
}


#contact form button{
    border: 1px solid grey;
    background-color: green;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    font-size: 15px;
    cursor: pointer;
}


/* Footer section */

#footer .container{
    width: 100%;
    background-color: green;
    color: white;
    list-style: none;
    display: flex;
    text-align: center;
}

#footer .container .left{
    width: 40%;
    margin-top: 3rem;
}

#footer .container .left a{
    color:#fff;
    font-size: 25px;  
}

#footer .container .left p{
    padding: 1rem;
    font-size: 13px;
    letter-spacing: 1px;
}

#footer .container .middle{
    width: 20%;
    margin-top: 3rem;
}

#footer .container .middle li{
    padding: 0.5rem;
}

#footer .container .middle a{
    list-style: none;
    color: white;
    padding: 1rem;
}

#footer .container .middle a:hover{
    color: greenyellow;
    text-decoration: underline;
}


#footer .container .right{
    width: 40%;
    margin: 3rem 0 0 0;
}

#footer .container .right .navbar{
    display: flex;
    margin: 2rem 0 0 8rem;
}



/* Media queries */

@media (max-width:991px) {
    body{
        width: 100%;
    }

    #menu-btn{
        display: none;
    }

    html{
        font-size: 50%;
    }

    #home{
        padding: 2rem;
    }
    
}

@media (max-width:768px){

    #header{
        width: 100%;
        
    }

    #header .leftHome a{
        font-size: 3rem; 
        color: green; 
        margin: 1rem 0.5rem; 
    }

    #menu-btn{
        display: inline-block;
    }
    #home .nav-bar{
        position: absolute;
        box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.2), 0 -3px 20px 0 rgba(0, 0, 0, 0.13);
        background-color: #fff;
        border-radius: 10px;
        top: 13%;
        right: 0rem;
        width: 30rem;
        display: block;
    }

    #header .rightHome .icons a i{
        font-size: 2.5rem;
    }

    #home .nav-bar.active{
        margin: 2rem;
        transition: .4s linear;
    }

    #home .nav-bar li{
        text-align: center;
    }

    #home .nav-bar li a{
      font-size: 2rem;
      text-align: center;
      margin: 1rem 2rem;  
    }

    
}

@media (max-width:450px) {
    html{
        font-size: 50%;
        width: 834px;
    }

    #header .leftHome a{
        font-size: 6rem;   
    }

    #header form{
        display:none;
    }

    .title{
        text-align: center;
        padding: 3rem 0;
        font-size: 4.8rem;
        margin: 0rem 5rem 5rem 0;
    }
    
    .title span{
        background: green;
        color: #fff;
        display: inline-block;
        padding: .5rem 3rem;
        clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
    }
   
    #feature .box-container{
        display: block;
        gap: 3rem;
        width: fit-content;
    }

    #feature .box-container .box img{
        width: 200px;
        height: 200px;
    }


    #product .box-product .row-1, .row-2{
        display: block;
        gap: 2.5rem;
        margin-left: 1.3rem;
    }

}




